header {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    max-width: 1300px;
}
.descrp {
    padding-left: 120px;
}
.descrp h1 {
    color: var(--blue);
    text-align: right;
}
.descrp p {
    text-align: right;
    padding: 20px 0;
}

.btn1,
.btn2 {
    margin-left: 10px;
    font-size: 0.8rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #1894ff;
    font-family: var(--iranSans);
    font-size: 0.8rem;
    background: none;
    color: var(--blue);
    cursor: pointer;
}
.btn2 {
    background-color: var(--blue);
    color: white;
    padding: 11px 31px;
    border: none;
}
.btn2:hover {
    background-color: #1893ff2d;
    transition: all 0.5s ease;
    color: var(--blue);
}
.btn1:hover {
    transition: all 0.5s ease;
    background-color: #1893ff2d;
}
@media only screen and (max-width: 768px) {
    .descrp {
        padding-left: 0;
    }
    .image img {
        width: 100%;
    }
    .descrp h1,
    .descrp p {
        text-align: center;
    }
}
@media only screen and (max-width: 415px) {
    header {
        display: inline-block;
    }
    .image img {
        width: 100%;
    }
    .descrp {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .btn1,
    .btn2 {
        padding: 5px 15px;
    }
    .descrp {
      padding-left: 25px;
  }
}
