:root {
   --blue: #1894ff;
   --white: #e6f3ff;
   --green: #00de9a;
   --darkblue: #2361b5;
   --black: #000000;
   --iranSans: "IranSans";
}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "IranSans";
    src: url(./MainPage/assets/IRANSans-Medium-web.ttf);
}

body {
    font-family: "IranSans",sans-serif;
    font-size: 0.8rem;
    background-color: white;
}
